* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

    font-size: 18px;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../eduford_img/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

.nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

h1 {
    font-size: 62px;


}

.text-box p {
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;



}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
    padding: 15px;
    cursor: pointer;

}

.hero-btn:hover {
    background: #f44336;
    border: 1px solid #f44336;
    transition: 1s;
}

.nav .fa {
    display: none;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
        z-index: index;
    }

    .nav .fa {
        display: block;
    }

    .nav {
        padding: 30px 40px;
    }

}

/* COURSES */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1 {
    font-size: 36px;
    font-weight: 600;

}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10%;
    padding: 20px 12px;
    text-transform: capitalize;
    margin-bottom: 5%;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;


}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* CAMPUS */
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 200px;
    transition: 1s;

}

.campus-col img {
    width: 100%;
    display: block;

}

.layer {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
    transition: 1s;


}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    opacity: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
    transition: 0.5s;
    transform: translate(-50%);
}

.layer:hover h3 {
    opacity: 1;
    bottom: 50%;
}

/* FACILITIES */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 15px;
    margin-bottom: 5%;
    text-align: left;


}

.facilities-col img {
    width: 100%;
    border-radius: 15px;

}

.facilities p {
    padding: 0px;
}

.facilities h3 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 15px;
}

/* REVIEWS */
.reviews {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}

.reviews img {
    width: 100%;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-right: 30px;
    margin-left: 5px;


}

.reviews-col {
    margin-bottom: 5%;
    flex-basis: 44%;
    border-radius: 10px;
    text-align: left;
    background: #fcdfdf;
    cursor: pointer;
    padding: 23px;
    display: flex;
}

.fa-star {
    color: #f44336;
}

.fa-solid {
    color: #f44336;
}

.reviews p {
    padding: 0;
}

.reviews h3 {
    margin-top: 15px;
    text-align: left;
}
/* CTA */
.cta { 
    width: 80%; 
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../eduford_img/banner2.jpg); 
    margin: 100px auto; 
    border-radius: 10px;
    text-align: center;
    padding: 130px 0; 
}
.cta h1 {
    color: #fff;
    margin-bottom: 50px;
    padding: 0;
}
@media (max-width:700px) {
    .cta h1 {
        font-size: 24px;
    }
}
/* FOOTER */
.footer {
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
.footer h4 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 25px;
}